---
// Astro assets
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

// components
import PostCard from "@/components/ui/PostCard.astro";
import Layout from "@/layouts/Layout.astro";

import me from "@/assets/avatar.jpg";

const allPosts = await getCollection("posts", ({ data }) => !data.isDraft);
---

<Layout title="About">
  <article class="wrapper flow">
    <h1 class="full-width">
     Blog
    </h1>
    <div class="switcher">
      <div>
        <h2 class="text-primary">
          Blog.
        </h2>
        <Image src={me} width={140} format="avif" alt="Profile image for Peter Chapman" />
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur.
        </p>
        {
          allPosts.map((post) => (
            <PostCard post={post} />
          ))
        }
      </div>
    </div>
  </article>
</Layout>