---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="About">
  <article class="wrapper flow">
    <h1 class="full-width">
     About
    </h1>
    <div class="switcher">
      <div>
        <h2 class="text-primary">
          Personal history.
        </h2>
      </div>
      <div>
        <p>
          My first job was at age 14, thanks to help from my dad, I helped around
          an Architecture office. As a kid at that time I was interested in
          artistic, creative things. Then here were these people&mdash;architects,
          making a living being creative! About all I really did there beyond
          observing was to get in their way. And it didn't last long as a
          job&mdash;but just being there was profound for me.
        </p>
        <p>
          Moving forward, mid-teens to pre Coast Guard I get a job at a resturant,
          bussing tables and cooking. It's hard work but I see a glimmer of
          creativity in cooking.
        </p>
      </div>
    </div>
  </article>
</Layout>
