---
const today = new Date();
---
<footer class="site-foot region ta-center">
  <div class="wrapper flow">
    <div class="flow-space-700">
      footer
    </div>
  </div>
</footer>

<style>
  .site-foot {
    background-color: #F0E8DC;
  }
  .region {
    padding: var(--space-m-l); 
  }
</style>