---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
interface Props {
  title: string;
}

const { title } = Astro.props;
---
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" />
  <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,900;1,300;1,900&display=swap" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>