<nav aria-label="primary" id="primary-navigation" tabindex="-1">
  <ul class="nav text-400 weight-bold font-base" role="list">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>
