---
import PrimaryNavigation from "./PrimaryNavigation.astro";
---

<header role="banner" class="[ site-head ] [ bg-tertiary-glare ]">
  <div class="wrapper">
    <div class="site-head__inner">
      <h1 class="visually-hidden">Account overview</h1>
      <PrimaryNavigation
      <div class="user">
        <a href="#">My profile</a>
        <img src="/images/profile-image.jpg" width="50" height="50" alt="Profile image for Lorem Ipsum" />
      </div>
    </div>
  </div>
</header>