/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/

::selection {
  background: tomato;
  color: #f3eee4;
}

::-webkit-scrollbar {
  height: 0.7rem;
}

::-webkit-scrollbar-track {
  background-color: #efefef;
}

::-webkit-scrollbar-thumb {
  background-color: mediumseagreen;
}

* {
  scrollbar-color: mediumseagreen #c2c5cc;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background: var(--color-light);
  color: var(--color-dark);
  font-size: var(--size-step-0);
  font-family: var(--font-base);
  line-height: var(--leading-standard);

  display: flex;
  flex-direction: column;
  font-family:;
  overflow-x: hidden;
}
