---
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import "../css/global.css";
import SiteHeader from "../components/SiteHeader.astro";

---

<!doctype html>
<html lang="en">
  <Head title={Astro.props.title} />
  <body>
    <SiteHeader />
    <slot />
    <Footer />
  </body>
</html>
